*{
    margin: 0px;
    padding: 0px;
}
body{
  margin-top: 60px;
}
form{
    display: flex;
    width: 100%;
}

main{
    max-width: 1000px;
    margin: auto;
    
}
label{
    text-transform: uppercase ;
    font-weight: 900;
    font-size: 10px;
}
.div{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.left{
    background-image:linear-gradient(to bottom, rgba(68, 125, 99,0.6), rgba(241, 187, 88,0.6)), url(portrait1.jpg);
    background-size: cover;
    color: rgba(255, 255, 255, 0.8);
    padding-right: 100px;
    
}
.right{
    width: 54%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1{
    font-size: 20px;
    font-family: sans-serif;
    position: relative;
    top: 210px;
    left: 50px;
    text-align: center;
    
}
.d1 label{
    text-transform: lowercase;
    padding-right: 10px;
}
.d3{
    padding-top: 10px;
    padding-bottom: 10px;
}
.d3 input{
    display: block;
    width: 240px;
    height: 25px;
}
.d4 input{
    display: block;
    width: 240px;
    height: 25px;
}
.d4 {
    padding-right: 40px;
    padding-left: 10px;
}
.d1 input{
    display: inline;
    padding-left: 25px;
}
.d2{
    display:flex;
    float: right;
    padding: 10px;
    gap: 10px;
}
.div1{
    display: flex;
    justify-content: left;
}
.d2 input{
    padding: 10px;
}

#submit, #donate{
    background-color: rgb(43, 185, 126);
    border: 1px solid transparent;
    color: white;
}
#reset{
    color: rgb(43, 185, 126);
    border: 1px solid rgb(43, 185, 126);
    background-color: white;
}
#donate {
    width: 50px;
    color: white;
}
#donate::placeholder{
    color: white;
}
@media screen and (max-width:1150px) {
    main{
        max-width: 550px;
        
    }
    .left{
        display:none;
    }
    .right{
        width:100%;
    }
    .right::before{
        content: "REGISTRE NOW";
        position: relative;
        left: 200px;
        bottom: 25px;
        font-weight:900 ;
        font-size: 20px;
        font-family: sans-serif;
}
.div1{
    display: flex;
    justify-content: center;
    padding-right: 40px;
    gap: 53px;
    
}
#donate{
    width: 50px;
}
.d4{
    padding: 12px;
}
}