* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: transparent;
    width: 100%;
    margin-top: 50px;
    font-family: sans-serif;
}
main{
    max-width: 800px;
    margin: auto;
}
form {
    display: flex;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right {
    background-color: rgb(33, 18, 18);
    padding: 30px
}
h1,
p {
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}
#name {
    border: 0px;
    border-bottom: 1px solid rgb(96, 61, 48);
    background-color: rgb(33, 18, 18);
    width: 250px;
    height: 25px;
    color: rgb(165, 117, 80);
}
label,
.p1 {
    color: rgb(165, 117, 80);

}

select,
#number {
    width: 250px;
    height: 30px;
    border: 0px;
    border-bottom: 1px solid white;
    background-color: rgb(33, 18, 18);
    color: rgb(227, 216, 216);
}

button {
    border-radius: 50px;
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
    border: 1px solid transparent;
    
}
.b {
    border-radius: 50px;
    padding: 5px;
}

.book {
    background-color: rgb(255, 185, 116);
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-color: transparent;
}

.d1 {
    display: flex;
    justify-content: space-around;
}

.d2{
    height: 30px;
    border-radius: 20px;
    padding-right: 0px;
    padding: 0px;
    transition: all 1s ease ; 
    
}

.d2:hover  button{
    background-color: rgb(33, 18, 18);
    color: white;
}

.d2:hover:after {
    content: "person";
}
.d2:hover {
    background-color: rgb(255, 185, 116);
    border-radius: 20px;
    padding: 2px;
    
}
#name:focus,
#number:focus,
select:focus{
    outline: none;
}
.d3{
    padding-bottom: 10px;
    padding-top: 10px;
}

@media screen and (max-width:700px){
    .left{
        display: none;
    }
    .right{
        max-width: 320px;
        margin: auto;
    }
    #name {
        width: 330px;
    }
    select,
#number {
    width: 330px;
}
}