 *{
    margin: 0px;
    padding: 0px;
 }

 body {
     background: linear-gradient(to right, rgb(54, 10, 69), rgb(159, 55, 95));
     margin-top: 10px;
     width: 100%;
     
 }
main{
    max-width: 1100px;
     margin: auto;
}
 form {
     display: flex;
     

 }

 .in {
     border: 0px;
     border-bottom: 1px solid white;
     background-color: rgb(4, 4, 77);
     
 }

 p {

     background-color: rgba(150, 36, 36, 0.7);
     margin-top: 600px;
     margin-right: 270px;
     height: 15%;
     width: 100%;
     text-align: center;
     padding-top: 15%;

 }

 .left {
     background-color: rgb(4, 4, 77);
     padding: 5%;
     

 }

 .right {

     background-size: cover;
     background-image: url(portfolio/restaurant.jpeg);
 }

 label {
     color: white;
     font-size: 25px;
     font-weight: 100;
     font-family: sans-serif;
     display: block;
     padding-right: 100px;
 }

 h1 {
     color: rgb(133, 32, 111);
     font: 3em sans-serif;
     font-weight: 600;
     text-align: center;
     padding-top: 10px;
     padding-bottom: 10px;
 }

 input {
     width: 245px;

 }

 #send {
     width: 150px;
     padding: 10px;
     font-size: 20px;
     color: white;
     margin-top: 10px;
     border: 0px;
     background: linear-gradient(rgb(159, 55, 95), rgb(54, 10, 69));
 }

 #price,
 #people {
     border: 0px;
     width: 70px;
     height: 30px;
     background-color: rgb(4, 4, 77);
     font-size: 20px;
     position: relative;
     right: 150px;
 }

 #name {
     font-size: 20px;

 }

 textarea {
     width: 250px;

 }

 .d1 {
     display: flex;
     justify-content: space-between;
     padding-top: 20px;
     padding-bottom: 20px;

 }

 @media screen and (max-width: 1030px) {
     .right {
         display: none;
     }

     body {
         background: transparent;
        margin: 0px;
        margin-top: 10px;
     }
     main{
        max-width: 500px;
        margin: auto;
     }
 }