body {
    padding: 80px;
    margin: 80px;
    background-image: url("portfolio/portrait1.jpg");
    background-size: 100%;
}

form {
    align-items: center;
    border: 20px solid white;
    background-color: white;
}

img {
    width: 50%;
    margin: auto;

}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.d1 {
    display: flex;
    padding: 0px;

}

.d2 {
    text-align: center;
    padding-left: 20px;
    margin: auto;
    width: 50%;
    height: 50%;
    font-size: 25px;
    
}

#lastname, #firstname {
    width: 200px;
}

.t1 {
    display: flex;
    justify-content: space-evenly;
    word-spacing: 10px;
}

input {

    float: left;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 450px;
}

label {
    float: left;
    font: 1em sans-serif;
}
button{
    font-size: large;
    text-align: center;
}
select{
    font-size: 26px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 450px;
}
i{
    float: right;
}

@media screen and (max-width:500px) {
    body {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    form {
        align-items: center;
        border: 20px solid white;
        background-color: white;
        margin: auto;
        padding: 10px;
        width: 50%;
        margin-top: 50px;
    }

    img{
        display: none;
    }

    h1 {
        text-align: center;
    }

    .d1 {
        display: flex;
    }

    .d2 {
        font-size: 10px;
        width: 100%;
    }

    input {
        width: 200px;
    }

    #lastname, #firstname {
        width: 80px;
    }

    select{
        font-size: 10px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        width: 200px;
    }
}
@media screen and (min-width:500px) and (max-width:1000px){
    body {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    form {
        align-items: center;
        border: 20px solid white;
        background-color: white;
        margin: auto;
        width: 50%;
    }

    img{
        width: 100%;
    }
    
    h1 {
        text-align: center;
    }

    .d1 {
        display: block;
    }

    .d2 {
        font-size: 20px;
        width: 100%;
        padding-right: 50px;
        padding-left: 0px;
        text-align: start;
    }

    input {
        width: 420px;
    }

    #lastname, #firstname {
        width: 155px;
    }

    select{
        font-size: 21px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        width: 420px;
    }
    h2, button{
        text-align: center;
    }
}